#ficha{
    width: 400px;
    height: 300px;
    display: flex;
    background-color: rgba(0, 255, 255, 0.662);
    border-radius: 25px;
    margin: 30px;
    float: left;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.302);
}
#portada img{
    width: 90%;
    height: 90%;
    padding: 8px;
    border-radius: 25px;
}
#informacion{
    


}
.texto{
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}